*~
_site/
*.swp
.DS_Store
bin/
gen/libs/armeabi
libs/couchbase.jar
libs/OtpErlang.jar
assets/install
assets/lib
libs/armeabi
Couchbase.zip
couchbase.xml


local-config/coconut.properties

local-config/local.properties
res/raw/coconut.properties

assets/CouchbaseVersion.txt

libs/OtpErlang-r14b03.jar

libs/couchbase-2.0.0-dp-31.jar
